.card {
  background-color:rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 240px;
    height: 300px;  
  }
  
  
  
  .img img {
    width: 150px;  
    height: 150px; 
    object-fit: cover;
    margin: 0 auto;
  }
  
  .card h1 {
    font-size: 1.7rem;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: #181d3d;
  }
  
  

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;

  }

  .button {
    background-color: transparent;
    border: none; 
    padding: 10px 20px;
    color: black;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 40px;
  }
  
  .button:hover {
    background-color: #f1d04b;
  }